/* line 9, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/* line 22, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.left-float {
  float: left;
  overflow: hidden;
}
/* line 28, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.stuffed {
  margin: 0;
  padding: 0;
  height: 90%;
  min-height: 200px;
  overflow: auto;
}
/* line 37, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.stuffed .bigbox {
  width: 75%;
  padding: 15px;
  float: left;
  overflow: hidden;
}
/* line 42, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.stuffed .smallbox {
  width: 15%;
  padding: 15px;
  float: left;
  overflow: hidden;
}
/* line 47, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.stuffed .carousel {
  float: left;
  width: 100%;
  height: 37%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 20px;
  overflow: auto;
}
/* line 60, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.card {
  position: relative;
  transition: all 0.25s ease-out;
  width: 25%;
  min-width: 220px;
  height: 90%;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  top: 0;
  border-radius: 4px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.8);
}
/* line 71, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.card:hover {
  box-shadow: 5px 20px 15px rgba(0, 0, 0, 0.8);
  top: -10px;
}
/* line 75, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.card .card-content {
  height: 100%;
  width: 100%;
  background-color: ghostWhite;
  text-align: center;
  font-size: 1.5em;
  color: ghostWhite;
}
/* line 82, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.card .card-content .card-header {
  padding: 10px;
  display: block;
  background-color: rgba(232, 44, 12, 0.9);
  text-shadow: 0 0 1px ghostwhite;
}
/* line 87, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.card .card-content .card-header:hover {
  background-color: rgba(244, 35, 0, 0.9);
}
/* line 96, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.pagecontainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
/* line 105, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.topheader {
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid rgba(232, 44, 12, 0.9);
}
/* line 114, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.topheader span {
  width: 100%;
  text-align: center;
  color: ghostWhite;
  margin: 10px auto;
}
/* line 120, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.topheader .logo {
  float: left;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 1em;
  background-color: rgba(232, 44, 12, 0.9);
}
/* line 127, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.topheader .headertext {
  font-size: 3em;
  color: ghostWhite;
  text-align: center;
  padding: 20px;
  float: left;
  overflow: hidden;
}
/* line 136, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.navbar-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.8);
  height: 90%;
  width: 200px;
  float: left;
}
/* line 145, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.navbar-left .navitems {
  padding: 10px;
  font-size: 1.5em;
  transition: all 0.25s ease-in;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-align: end;
  margin: 2px 0 0 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}
/* line 154, C:\Users\T520-4239CTO\Documents\GitHub\survey\src\styles\styles.less */
.navbar-left .navitems:hover {
  background: linear-gradient(-38deg, transparent, rgba(232, 44, 12, 0.9), transparent);
}
