@lightorange: rgba(255,83,13,0.8);
@darkorange: rgba(232,44,12,0.9);
@redpink: rgba(255,0,97,0.8);
@purplepink: rgba(232,12,206,0.8);
@darkpurple: rgba(205,12,255,0.8);


.stuffed{
	background-color: @darkpurple;
	height: 500px;
	width: 500px;
}