/* line 22, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
body {
  margin: 0;
  padding: 0;
  font-family: 'Alfa Slab One', cursive;
}
/* line 36, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.left-float {
  float: left;
  overflow: hidden;
}
/* line 42, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed {
  padding: 6em 1em 0 1em;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-flex-flow: column no-wrap;
      flex-flow: column no-wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: rgba(242, 242, 242, 0.95);
}
/* line 50, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .bigbox {
  width: 75%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
}
/* line 57, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .bigbox .bigboxitem {
  margin-right: 1em;
  margin-bottom: 1em;
  transition: all 0.25s ease-out;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  background-color: rgba(38, 49, 69, 0.8);
  color: rgba(242, 242, 242, 0.95);
  cursor: pointer;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
}
/* line 66, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .bigbox .bigboxitem:hover {
  box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.8);
}
/* line 69, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .bigbox .bigboxitem .bigboxitemheader {
  background-color: rgba(38, 49, 69, 0.8);
  display: block;
  padding: .5em;
  text-align: center;
}
/* line 77, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .smallbox {
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: auto;
  padding: 1em;
}
/* line 85, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .smallbox .smallitem {
  -ms-flex-positive: .3;
      flex-grow: .3;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  cursor: pointer;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin-top: .5em;
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(38, 49, 69, 0.8);
}
/* line 94, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .smallbox .smallitem:hover {
  box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.8);
}
/* line 97, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .smallbox .smallitem:hover .headertext {
  color: rgba(19, 44, 88, 0.8);
  /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px rgba(242, 242, 242, 0.95);
}
/* line 107, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.stuffed .smallbox .smallitem .headertext {
  transition: inherit;
  font-size: 2em;
  color: black;
  text-shadow: none;
  text-align: center;
  -webkit-text-stroke: 1px rgba(2, 2, 3, 0.8);
  color: ghostWhite;
  /* Will override color (regardless of order) */
}
/* line 119, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.carousel {
  background-color: rgba(229, 191, 180, 0.8);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  overflow: auto;
  padding: 2%;
}
/* line 126, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.carousel .card {
  transition: all 0.25s ease-out;
  margin: 10px 10px 0 0;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  background-color: rgba(166, 110, 78, 0.8);
  border-radius: 4px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
}
/* line 133, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.carousel .card:hover {
  box-shadow: 4px 15px 22px rgba(0, 0, 0, 0.8);
  z-index: 8;
}
/* line 137, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.carousel .card .card-content {
  padding: .5em;
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}
/* line 143, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.carousel .card .card-content .card-header {
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  width: 0;
  font-size: 1.5em;
  color: rgba(242, 242, 242, 0.95);
  display: block;
  border-bottom: 2px solid rgba(229, 191, 180, 0.8);
  background-color: rgba(38, 49, 69, 0.8);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 10px 0;
}
/* line 156, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.carousel .card .card-content:hover .card-header {
  width: 95%;
}
/* line 165, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.bigtestitem {
  background-size: contain;
  width: 100%;
  height: 100%;
}
/* line 171, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.testitem {
  background-size: contain;
  width: 100%;
  height: 100%;
  background-color: rgba(169, 73, 194, 0.8);
}
/* line 181, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.pagecontainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: auto;
  background-color: rgba(166, 110, 78, 0.8);
}
/* line 191, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.topheader {
  width: 80%;
  height: 5em;
  padding: .5em 0;
  z-index: 10;
  background: rgba(242, 242, 242, 0.95);
  position: fixed;
  top: 0;
  left: 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
}
/* line 203, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.topheader .logo {
  transition: all 1s ease-out;
  color: ghostWhite;
  text-align: end;
  padding-right: 1em;
  border-radius: 0;
  transform: rotate(0deg);
  cursor: pointer;
  box-shadow: none;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(38, 49, 69, 0.8);
}
/* line 214, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.topheader .logo:hover {
  padding-right: 85%;
}
/* line 222, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.topheader .navbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: .65em;
}
/* line 229, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.topheader .navbox .navitems {
  font-size: 1em;
  transition: all 0.25s ease-in;
  cursor: pointer;
  text-align: center;
  padding: .75em;
  border: 2px solid transparent;
}
/* line 236, C:\Users\i54626\Desktop\Case store\Projects\Web Dev\survey\src\styles\styles.less */
.topheader .navbox .navitems:hover {
  border-color: rgba(136, 74, 75, 0.8);
}
